<div id='player'>
        <a href='#' id='playerPrev' onclick='prevTrack();return false;'><span></span></a>
        <div id="flash_player_container">
<%= player({:file => 'http://fakepennycomics.com/blog/SOSB_HalfAsleep.mp3', :lightcolor => "84C441", :skin => :stylish_slim}, {:width => 257, :height => 32, :player_id => 'herd_player'}) %>
</div>

  <a href='#' id='playerNext' onclick='nextTrack();return false;'><span></span></a>
  <div id="footer_caption"><span>Sharing new music and who's touring.</span></div>
</div>

<div id="footer"></div>